@page "/Algorithms"
<br>
<link rel="stylesheet" href="~/css/algorithms.css" asp-append-version="true" />
<h3>Algorithms Playground</h3>
<h4>A place where you can interact with some algoritms</h4>
<div class="form-group">
    <label for="algorithmSelect">Select an Algorithm:</label>
    <select id="algorithmSelect" class="form-control" @bind="selectedAlgorithm">
        <option value="" disabled>Select an algorithm</option>
        @foreach (var algorithm in algorithms)
        {
            <option value="@algorithm">@algorithm</option>
        }
    </select>
</div>

<div>
    @if (!string.IsNullOrEmpty(selectedAlgorithm))
    {
        <div>
            @switch (selectedAlgorithm)
            {
                case "Binary Search":
                    <BinarySearch />
                    break;
                case "Bubble Sort":
                    <BubbleSort />
                    break;
                case "Quick Sort":
                    <QuickSort />
                    break;
                default:
                    <p>Please select algorithm</p>
                    break;
            }
        </div>
    }
</div>

@code{
    private string selectedAlgorithm;
    private List<string> algorithms = new List<string> { "Binary Search", "Bubble Sort", "Quick Sort" };
}