@page "/Algorithms"
@using ChasePortfolioWeb.Components;
@model ChasePortfolioWeb.Pages.AlgroithmModel
<html>
    <body>
    @(await Html.RenderComponentAsync<Algorithm>(RenderMode.Server))
    </body>
</html>
@{
}
