@page "/Resume"
@model ChasePortfolioWeb.Pages.ResumeModel
<link rel="stylesheet" href="~/css/resume.css" asp-append-version="true" />
<br />
<h2>Chase E. McClellan</h2>
<p><a href="mailto:chasemcclellan387@gmail.com">ChaseMcClellan387@gmail.com</a></p>
    <p><a href ="mailto:mcclel54@uwm.edu">McClel54@uwm.edu</a>

<h3>Motivated and detail-oriented software development internship candidate with experience in Java and C# programming. 
    Possess a strong foundation in computer science theory and practice. Professional interests include software engineering, web development, 
    and finance.</h3>
<br />
    <h4>Education</h4>
<p>
    <strong>Bachelor of Science in Computer Science</strong><br />
    University of Wisconsin-Milwaukee, Milwaukee, WI - Dec 2025 </br> <strong>GPA: 3.86/4.0</strong>
</p>
<p>
    <strong>Associate of Applied Science in Software Development</strong><br />
    Fox Valley Technical College, Appleton, WI - May 2023<br />
    Completed 54 credits towards degree before transferring.
</p>

<h4>Experience</h4>
<p>
    <strong>Software Developer – Internship</strong><br />
    Waupaca Foundry Inc., Waupaca, WI - May 2024 - Aug 2024<br />
    • Collaborated with a team to address the software needs of a medium-sized company.<br />
    • Utilized SCRUM and Sprint methodologies.<br />
    • Worked closely with senior developers on various projects.<br />
    • Hosted code review meetings and embraced feedback to improve code quality.
</p>
<p>
    <strong>Sales Associate</strong><br />
    The Pool People, Stevens Point, WI - Jun 2021 - Jan 2022<br />
    • Built and maintained relationships with customers.<br />
    • Developed sales strategies as a team.
</p>

<h4>Technical Skills</h4>
<ul>
    <li>Programming Languages: C#, C++, Java, Python</li>
    <li>Frameworks: .Net, .NET Core, ASP.NET, Blazor, Entity Framework, Django</li>
    <li>Web Development: HTML/CSS, PHP, JavaScript, TypeScript, jQuery</li>
    <li>Data Programming/Software: T-SQL, MySQL, Microsoft SQL Server, Perl, Excel, PowerBI</li>
    <li>Version Control: GitHub, Azure DevOps, Bitbucket</li>
</ul>

<h4>Projects</h4>
<p>
    <strong>ASP.NET Website</strong><br />
    • Engineered a full stack application using ASP.Net framework. Designed a relational database hosted on Azure.
    Implemented features such as login, administrative roles, and shopping cart.<br />
    <a href="https://github.com/ChaseMcClellan/ChaseWebsite.git">https://github.com/ChaseMcClellan/ChaseWebsite.git</a>
</p>
<p>
    <strong>Discord Sound Bot</strong><br />
    • Produced a simple soundboard bot using Discord’s development tools. Used C# programming and Discord API.
    Includes simple command triggers and basic discord bot functions.<br />
    <a href="https://github.com/ChaseMcClellan/DiscordSoundBot">https://github.com/ChaseMcClellan/DiscordSoundBot</a>
</p>

<h4>Involvment</h4>
<p>
    <strong>Resident Assistant</strong><br />
    University of Wisconsin-Milwaukee Housing - Aug 2024 - Current
</p>
<!--<p>
    <strong>Undergraduate Reserch</strong></br>
    University of Wisconsin-Milwaukee
</p>-->

<button id="download-resume" class="download-button">Download PDF</button>

<script>
    document.getElementById('download-resume').addEventListener('click', function() {
        window.open('/Chase McClellan Resume.pdf', '_blank');
    });
</script>

