@page "/Algorithms"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Razor; @*Add this for razor functions*@ 

<br>
<link rel="stylesheet" href="~/css/algorithms.css" asp-append-version="true" />

<h3>Algorithms Playground</h3>
<h4>A place where you can interact with some algoritms</h4>
<br />
<h5>Digital root in C#</h5>
<input type="number" value="@n" @onchange="() => DigitalRoot(n)"/>
<label>Digital root: @n</label>




@code{
    private int rootNumber;
    private int n;

    private int DigitalRoot(int n)
    {
        if (n < 10) return n;
        return DigitalRoot(n % 10 + DigitalRoot(n / 10));
    }
}