@page "/Resource"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Razor;
<br />
<body>
    <h3>Resident Resources</h3>
    <ul class="cool-list">
        <li><a href="https://uwmil.instructure.com/login/saml/15">UWM Student Canvas</a></li>
        <li><a href="https://www.microsoft.com/en-us/microsoft-365/outlook/log-in">Outlook</a></li>
        <li><a href="https://uwm.edu/wellness/">Student Health and Wellness</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href="https://uwm.edu/studentinvolvement/events/category/uwm-campus-events/">Events this week</a></li>
        <li><a href="https://uwm.edu/housing/roommate-suitemate-agreement/"><strong>Suitemate Agreement</strong></a></li>
        <li><a href="https://uwm.webtma.com/?tkn=zIC9FzhQ1XN3X5Osf5bjvxypF4ImE9ZPiH_L8L1Qh9xYslH2LORtMeHFVhenX2SttfBO2Ve3wwe6XiPTv7UmSRhDJ8VBowae3S3rxDM2owTUYXlrjpCNYvxz-h_LTQoxbFNpFdOEiv6CDYb-wxR5_j-RSJBiFpYZavRd1kNBNkJ-0Mx4ZaYekqE_xsfljsHGQToRZPd_C_MU7jc3CVLJTmq0_KWoEVti6EIK_H4sLO_c8AHsx3TtVVUAMnCAeAmGrRhTp02hwznrqWm1d_vUwQ">Work orders</a></li>
    </ul>
</body>



@code {

}
