@page "/Resource"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Razor;
<br />
<h3>Resident Resources</h3>
<ul>
    <li>
        <a href="">UWM Student Canvas</a>
        <a href="">Outlook</a>
        <a href="">Student Health and Wellness</a>
        <a href=""></a>
    </li>
</ul>

@code {

}
