<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChasePortfolioWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChasePortfolioWeb.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="navbar">
                    <a href="/" class="logo">Chase's Portfolio</a>
                    <a href="/">Home</a>
                    <a href="/Resume">Resume</a>
                    <a href="/Algorithms">Algorithms</a>
                    <a href="/Chase">Chase</a>
                    <div class="right">
                        <a href="https://www.linkedin.com/in/chasemcclellan"><img src="images/LI-In-Bug.png" hight="50px" width="40px" /></a>
                        <a href="https://www.untapped.io/app/profile/chase-mcclellan"><img src="images/betteruntapped.jpeg" hight="50px" width="40px" /></a>
                        <a href="https://github.com/ChaseMcClellan/"><img src="images/githublogo.png" hight="50px" width="40px" /></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <p>&copy; 2024 Chase McClellan. All rights reserved.</p>
        <p>
            Connect with me on
            <a href="https://www.linkedin.com/in/yourprofile">LinkedIn</a>,
            <a href="https://untapped.com/yourprofile">Untapped</a> and
            <a href="https://github.com/ChaseMcClellan/">Github</a>.
        </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>