body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
}

h2, h3, h4 {
    margin-top: 0;
    color: #333;
    text-decoration-thickness: initial;
}

p {
    margin: 0 0 1em 0;
    line-height: 1.5;
}

ul {
    margin: 0 0 1em 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.download-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
}

    .download-button:hover {
        background-color: #0056b3;
    }
